@model Gustf.Models.Product

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Delete Category</h2>
            <hr/>
        </div>

        @* TITLE *@
        <div class="mb-3 row p-1">
            <label asp-for="Title" disabled class="p-0"></label>
            <input asp-for="Title" type="text" class="form-control" />
            

        </div>

        @* DESCRIPTION *@
        <div class="mb-3 row p-1">
            <label asp-for="Description" disabled class="p-0"></label>
            <input asp-for="Description" type="text" class="form-control" />
           

        </div>

        @* ISBN *@
        <div class="mb-3 row p-1">
            <label asp-for="ISBN" disabled class="p-0"></label>
            <input asp-for="ISBN" type="text" class="form-control" />
            

        </div>

        @* AUTHOR *@
        <div class="mb-3 row p-1">
            <label asp-for="Author" disabled class="p-0"></label>
            <input asp-for="Author" type="text" class="form-control" />
           

        </div>

        @* LISTPRICE *@
        <div class="mb-3 row p-1">
            <label asp-for="ListPrice" disabled class="p-0"></label>
            <input asp-for="ListPrice" type="text" class="form-control" />
           

        </div>

        @* PRICE *@
        <div class="mb-3 row p-1">
            <label asp-for="Price" disabled class="p-0"></label>
            <input asp-for="Price" type="text" class="form-control" />
           

        </div>

        @* PRICE 50 *@
        <div class="mb-3 row p-1">
            <label asp-for="Price50" disabledclass="p-0"></label>
            <input asp-for="Price50" type="text" class="form-control" />
           

        </div>

        @* PRICE 100 *@
        <div class="mb-3 row p-1">
            <label asp-for="Price100" disabledclass="p-0"></label>
            <input asp-for="Price100" type="text" class="form-control" />
           

        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control"> Delete </button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>

    </div>
</form>
